.container {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    /*  
    dùng cho flex-direction: columns;
            justify-content: start;  căn chỉnh qua lền bên phải 
                        end; căn chỉnh qua lề bên trái 
                        center; căn giữa
                        space-betwin ; chia đề khoản cách ra, không có khoản cách bên trái và phải
                        space-around; chia đều khoản cách , có lề bên trái và phải
    */
     
    /*
     căn chỉnh theo chiều vuông góc;
        align-items: flex-star; **
         align-items: flex-end;
          align-items: center;
         align-items: baseline;
          align-items: stretch **
    */
   
}


/* 
flex-basis : dùng cho các đối tượng con, căn chỉnh độ rộng 
flex-grow: 1; 

*/
.child-1{
    background-color: red;
    flex-grow: 3;
}
.child-2{
    background-color: green;
    flex-grow: 3;
}
.child-3{
    background-color: blue;
    flex-grow: 6;
}